# Local configuration
.boost_location
# Built files
out
# Emacs temporaries
\#*\#
.\#*
# Various backups
*.bak
*~
# Test configuration
.config
.config.cache
# Helpers
update-student-stats.sh
generate-stats
